@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
    font-family:'SBGlyphs';
    src:url('https://starblast.data.neuronality.com/fonts/starblast-glyphs.ttf?v=1%27');
    font-weight:normal;
    font-style:normal
}

html {
    scroll-snap-type: both mandatory;
}

body {
    background-color: rgb(50, 49, 54);
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

section {
    scroll-snap-align: center;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    &.a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.2;
    }
    &.b {
        & table {
            width: 100%;
            border-collapse: collapse;
            width: 80%;
            color: aliceblue;
            cursor: default;
        }
        & th, td {
            padding: 8px;
            text-align: center;
        } 
        & th {
            & .title {
                font-size: 28px;
                padding: 10px;
                border-radius: 15px;
                & span {
                    font-size: 22px;
                    padding: 4px 8px;
                    border-radius: 15px;
                }
                & .pt-title-version {
                    background-color: rgba(31, 189, 142, 0.6);
                }
            }
        }
        & td {
            font-size: 19px;
            & span {
                font-size: 16px;
                padding: 3px 6px;
                border-radius: 15px;
            }
            & .pt-title-version {
                background-color: rgba(90, 90, 90, 0.4);
            }
        }
        & tr:nth-child(odd) {
            background-color: rgba(50, 49, 54, 0.4);
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 5px rgb(0, 0, 0);
                background-color: rgba(50, 49, 54, 0.8);
            }
        }
        & tr:nth-child(even) {
            background-color: rgba(71, 70, 77, 0.4);
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 5px rgb(0, 0, 0);
                background-color: rgba(71, 70, 77, 0.8);
            }
        }
        & .yes, .no, .warning {
            font-size: 30px;
            font-family: 'Material Symbols Rounded';
        }
        & .yes {
            color: #008000;
        }
        & .no {
            color: #ff0000;
        }
        & .warning {
            color: rgb(221, 157, 20);
        }
    }
    &.c {
        color:aliceblue;
        & .wooshing {
            font-size: 50px;
            font-weight: 900;
            animation: wooshed 2s ease infinite;
        }
    }
    
}

@keyframes wooshed {
    0% {
        color: rgba(231, 54, 54, 0.6);
    }
    20% {
        transform: rotate(11deg);
        color: rgba(231, 54, 54, 0.6);
    }
    50% {
        transform: rotate(-371deg);
        color: rgba(54, 204, 231, 0.6);
    }
    80% {
        transform: rotate(-360deg);
        color: rgba(54, 204, 231, 0.6);
    }
    100% {
        color: rgba(231, 54, 54, 0.6);
    }
}

.inte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    & img { 
        opacity: 1 !important;
    }
    & .buts {
        display: flex;
        gap: 250px;
        & .but {
            position: relative;
            transition: all 0.2s ease-in-out;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            background-color: rgba(50, 49, 54, 0.4);
            border-radius: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            gap: 10px;
            font-weight: bold;
            border: 2px solid #ffffff4d;
            outline: none;
            overflow: hidden;
            font-size: 15px;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100%;
                background-image: linear-gradient(
                  120deg,
                  rgba(255, 255, 255, 0) 30%,
                  rgba(255, 255, 255, 0.8),
                  rgba(255, 255, 255, 0) 70%
                );
                top: 0;
                left: -100px;
                opacity: 0.6;
            }
            & .title {
                color: rgb(240, 240, 240);
                font-size: 35px;
                font-weight: 600;
            }
            &:hover {
                background-color: rgba(76, 76, 80, 0.6);
                border-radius: 25px;
                transform: scale(1.05);
                
                &::before {
                    animation: shine 2s ease-out infinite;
                }
            }
        }
    }
    & .scrollindic {
        cursor: default;
        color: aliceblue;
        background-color: rgba(50, 49, 54, 0.8);
        position: absolute;
        bottom: 0px;
        border-radius: 25px 25px 0 0;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        & .txt {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 600;
        }
        & .arrow {
            font-size: 35px;
            animation: animateArrow 3s infinite normal ease;
        }
    } 
    & .topicons {
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: row;
        position: absolute;
        gap: 20px;
        background-color: rgba(50, 49, 54, 0.6);
        padding: 10px;
        border-radius: 90px;
        & img {
            border-radius: 90px;
            max-height: 45px;
            max-width: 45px;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
                border-radius: 15px;
            }
        }
    }
    & .rights {
        top: 20px;
        left: 20px;
        position: absolute;
        color: aliceblue;
        font-size: 12px;
        background-color: rgba(50, 49, 54, 0.6);
        padding: 6px 10px;
        border-radius: 90px;
    }
}

.inte .buts .full:hover {
    border-color: rgb(189, 31, 31);
}

.inte .buts .light:hover {
    border-color: rgb(31, 126, 189);
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    to {left: 100%}
}

@keyframes animateArrow {
    0% {transform: rotate(0deg)}
    20% {transform: rotate(360deg)}
    25% {transform: translateY(-5px)}
    35% {transform: translateY(5px)}
    45% {transform: translateY(-5px)}
    55% {transform: translateY(5px)}
    65% {transform: translateY(-5px)}
    75% {transform: translateY(5px)}
    85% {transform: translateY(-5px)}
    95% {transform: translateY(5px)}
}


.animation-container {
	display: block;
	position: relative;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	.lightning-container {
		position: absolute;
		top: 50%;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		.lightning {
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 12px;
			transform-origin: 6px 6px;
			animation-name: woosh;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			animation-direction: alternate;
			&.white {
				background-color: white;
				box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
			}

			&.red {
				background-color: #fc7171;
				box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
				animation-delay: 0.2s;
			}
		}
	}
	& .boom-container {
		position: absolute;
		display: flex;
		width: 80px;
		height: 80px;
		text-align: center;
		align-items: center;
		transform: translateY(-50%);
        left: 200px;
        top: -145px;
		& .shape {
			display: inline-block;
			position: relative;
			opacity: 0;
			transform-origin: center center;
			&.triangle {
				width: 0;
				height: 0;
				border-style: solid;
				transform-origin: 50% 80%;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				margin-left: -15px;
				border-width: 0 2.5px 5px 2.5px;
				border-color: transparent transparent #42e599 transparent;
				animation-name: boom-triangle;
				&.big {
					margin-left: -25px;
					border-width: 0 5px 10px 5px;
					border-color: transparent transparent #fade28 transparent;
					animation-name: boom-triangle-big;
				}
			}
			&.disc {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: #d15ff4;
				animation-name: boom-disc;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
			}
			&.circle {
				width: 20px;
				height: 20px;
				animation-name: boom-circle;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				border-radius: 100%;
				margin-left: -30px;
				&.white {
					border: 1px solid white;
				}
				&.big {
					width: 40px;
					height: 40px;
					margin-left: 0px;
					
					&.white {
						border: 2px solid white;
					}
				}
			}
			&:after {
				background-color: rgba(178, 215, 232, 0.2);
			}
		}
		.shape {
			&.triangle, &.circle, &.circle.big, &.disc {
				animation-delay: .38s;
				animation-duration: 2s;
			}
			&.circle {
				animation-delay: 0.6s;
			}
		}
		&.second {
			left: 485px;
			top: 155px;
			.shape {
				&.triangle, &.circle, &.circle.big, &.disc {
					animation-delay: 1.9s;
				}
				&.circle {
					animation-delay: 2.15s;
				}
			}
		}
	}
}

@keyframes woosh {
	0% {width: 12px;transform: translate(0px, 0px) rotate(-35deg)}
	15% {width: 50px}
	30% {width: 12px;transform: translate(214px, -150px) rotate(-35deg)}
	30.1% {transform: translate(214px, -150px) rotate(46deg)}
	50% {width: 110px}
	70% {width: 12px;transform: translate(500px, 150px) rotate(46deg)}
	70.1% {transform: translate(500px, 150px) rotate(-37deg)}
	85% {width: 50px}
	100% {width: 12px;transform: translate(700px, 0) rotate(-37deg)}
}

@keyframes boom-circle {
	0% {opacity: 0}
	5% {opacity: 1}
	30% {opacity: 0;transform: scale(3)}
	100% {}
}

@keyframes boom-triangle-big {
	0% {opacity: 0}
	5% {opacity: 1}
	40% {opacity: 0;transform: scale(2.5) translate(50px, -50px) rotate(360deg)}
	100% {}
}

@keyframes boom-triangle {
	0% {opacity: 0}
	5% {opacity: 1}
	30% {opacity: 0;transform: scale(3) translate(20px, 40px) rotate(360deg)}
	100% {}
}

@keyframes boom-disc {
	0% {opacity: 0}
	5% {opacity: 1}
	40% {opacity: 0;transform: scale(2) translate(-70px, -30px)}
    100% {}
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(81, 127, 255);
}